<h1>Stats#show</h1>
<p>Find me in app/views/stats/show.html.erb</p>
<table>
  <tr>
	<td>Department</td>
	<td>Inbound</td>
	<td>Outbound</td>
  </tr>
<%
   @departments.each do |d|
%>
  <tr>
	<td><%= d.name %></td>
	<td><%= number_to_human_size((@inbounds_by_id[d.id] || 0).truncate) %></td>
	<td><%= number_to_human_size((@outbounds_by_id[d.id] || 0).truncate) %></td>
  </tr>
<%
   end
%>

