<h1>Stats#show_department</h1>
<p>Find me in app/views/stats/show_department.html.erb</p>
<table>
  <tr>
	<td>IP</td>
	<td>Inbound, daily</td>
	<td>Inbound, night</td>
	<td>Inbound, total</td>
	<td>Outbound, daily</td>
	<td>Outbound, night</td>
	<td>Outbound, total</td>
  </tr>
  <%= render :partial => "department_stats", :locals =>{:department => @department} %>
</table>
